name: 'Gitbook Build'
on:
  push:
    branches:
      - master  # trigger branch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout action
      uses: actions/checkout@v2
    - name: Gitbook Action
      uses: ZanderZhao/gitbook-action@v1.2.4
      with:
        token: ${{ secrets.PERSONAL_TOKEN }}
        time_zone: Asia/Shanghai
        git_name: Sylar
        git_email: swlfigo@gmail.com
        publish_branch: gh-pages
        publish_push_force: false
        publish_cname: roadmap.isylar.com
        
    - name: Sync to Gitee
      uses: wearerequired/git-mirror-action@master
      env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_RSA_PRIVATE_KEY }}
      with:
          source-repo: "git@github.com:swlfigo/iOSRoadMap.git"
          # 注意替换为你的 Gitee 目标仓库地址
          destination-repo: "git@gitee.com:necromancer/iOSRoadMap.git"
